@import "../mixins";
@import "../variables";

.nomenclatureIncome-page {

  .offset-top {
    margin-top: $app-base-padding;
  }

  .card {
    &.card-nomenclature {
      width: 100%;
      .nomenclature-name {
        font-size: 16px;
        color: darken($color-gray-darken, 50%);
      }
    }
  }

  .nomenclatures-list {
    .card {
      &.card-income {
        .nomenclature-name {
          margin-bottom: $app-base-padding;

          a {
            font-size: 18px;
          }
        }
      }
    }
  }

}