@import "../variables";
@import "../mixins";

.nomenclature-page {

  .tab-content {

    &.tab-content-batches {
      form {
        display: inline-block;
      }
    }

    &.tab-content-revisions {



    }
  }

  .balance-card {
    display: flex;

    .icon {
      width: 40px;
      flex-grow:   0;
      flex-shrink: 0;

      .mi-icon {
        padding: 0;
      }
    }

    .balance-card-content {
      width: 100%;
      flex-grow: 1;
      flex-shrink: 1;

      .amount {
        padding-top: 2px;
        font-size: 16px;
        color: rgba(0, 0, 0, .75);

        &.amount-negative {
          color: darken($diff-color-red, 30%);
        }
      }

      .info {
        padding-top: $app-base-padding;
        color: rgba(0, 0, 0, .6);

        &.info-date {
          font-size: 12px;
        }
      }
    }

  }

}