@import "../mixins";
@import "../variables";

.patient-page {

  .cures {
    .card {
      &.cure {
        color: darken($color-gray-darken, 40%);

        .cure-department {
          font-size: 16px;
        }

        p {
          margin-top: $app-base-padding;
          margin-bottom: $app-base-padding;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

      }
    }
  }

}
