@import "colors";

$sidebar-width: 300px;
$content-sidebar-width: 300px;

//$sidebar-background: $color-wet-asphalt;
$sidebar-background: $color-blue;
$sidebar-item-hover-background-color: $color-blue-darken;

$sidebar-item-badge-color: $color-blue-darken;
$content-sidebar-border-color: $color-gray;
$content-sidebar-search-border-color: rgba(0, 0, 0, .3);
