@import "variables";
@import "mixins";

.breadcrumbs {
  nav {
    margin-bottom: $app-base-padding;

    &::after {
      content: "";
      display: block;
      clear: both;
      overflow: hidden;
    }

    a.item {
      color: $color-gray-darken;
      float: left;
      margin-right: $app-base-padding;

      &:last-of-type {
        margin-right: 0;
        text-decoration: none;
      }
    }

    .breadcrumbs-links {
      position: relative;
      top: 4px;
    }

    .actions {
      float: right;
    }
  }
}
