@import "mixins";
@import "variables";

.card {
  padding: $app-base-padding;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  border: 1px solid   rgba(0, 0, 0, .1);

  width: $card-width;
  margin-top: $app-base-padding;
  margin-bottom: $app-base-padding;

  @include box-sizing;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.address-card {
    p {
      margin-top:    $app-base-padding / 2;
      margin-bottom: $app-base-padding / 2;

      font-size: 16px;

      color: rgba(0, 0, 0, .8);

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .actions {
    margin-top: $app-base-padding;
  }

}
