@import "variables";
@import "mixins";

.container {
  height: 100vh;
  display: flex;

  .sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    width: $sidebar-width;
  }

  .content {
    width: 100%;

    overflow-y: scroll !important;

    @include box-sizing;

    .paddings {
      padding: $app-base-padding;

      &.no-padding-right {
        padding-right: 0;
      }
    }

    &.content-overflow-hidden {
      overflow-y: hidden !important;
    }
  }
}
