@import "mixins";
@import "variables";

.diff-card {
  box-shadow: 0 0 5px rgba(0, 0, 0, .15);
  border: 1px solid rgba(0, 0, 0, .15);

  margin-top: $app-base-padding;
  margin-bottom: $app-base-padding;

  width: $diff-width;

  @include box-sizing;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .diff-header {
    border-bottom: 1px solid $color-gray;
    padding: $app-base-padding;

    div {
      margin-top:    $app-base-padding / 2;
      margin-bottom: $app-base-padding / 2;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .diff-content {
    padding-bottom: $app-base-padding;
    padding-top: $app-base-padding;

    overflow: hidden;

    @include box-sizing;

    .diff {
      color: lighten($color-gray-darken, 15%);
      cursor: pointer;

      &:first-child {
        &.active {
          margin-top: 0;
        }
      }

      @include box-sizing;

      &:hover {
        background-color: $color-gray;
      }

      &:not(.active) {
        .diff-to, .diff-from {
          display: none;
        }
      }

      &.active {
        color: rgba(0, 0, 0, .7);

        &:hover {
          background-color: transparent;
        }
      }

      .diff-from {
        background-color: $diff-color-red;
        border-top: 1px solid darken($diff-color-red, 5%);
      }

      .diff-to {
        background-color: $diff-color-green;
        border-bottom: 1px solid darken($diff-color-green, 5%);
      }

      .diff-name {
        padding: $app-base-padding;
        @include box-sizing;
      }

      .diff-from, .diff-to {
        padding: $app-base-padding;
        color: $color-gray-darken;

        @include box-sizing;
      }

    }
  }

}
