@import "variables";
@import "mixins";

.form {

  margin-top: $app-base-padding;
  margin-bottom: $app-base-padding;

  &.form-compact {
    width: $input-width + $label-width;

    &.form-small {
      width: $input-small-width + $label-small-width;
    }
  }

  &.form-no-vertical-offsets {
    margin-top: 0;
    margin-bottom: 0;
  }

  .form-group {

    margin-top:    $app-base-padding;
    margin-bottom: $app-base-padding;

    &::after {
      content: "";
      display: block;
      clear: both;
      overflow: hidden;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.has-error {

      .col-input {
        .input {
          border-color: $color-red-darken;
        }

        .message p {
          color: $color-red-darken;
        }
      }
    }

    .col-label, .col-input {
      float: left;
    }

    .col-label {
      width: $label-width;
      text-align: right;
      padding-right: $app-base-padding;

      @include box-sizing;

      &.col-small {
        width: $label-small-width;
      }

      label.label {
        display: block;
        padding: $label-padding;
        font-weight: bold;

        @include box-sizing;
      }
    }
    .col-input {
      width: $input-width;

      &.col-small {
        width: $input-small-width;
      }

      .input-list {
        .input {
          margin-top: $app-base-padding;
          margin-bottom: $app-base-padding;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .input-radio {
        display: flex;
        align-items: center;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        width: auto;

        margin-top: $app-base-padding;
        margin-bottom: $app-base-padding;

        cursor: pointer;

        &:first-child {
          margin-top: $app-base-padding / 2;
        }

        &:last-child {
          margin-bottom: $app-base-padding / 2;
        }

        .wrapper {
          flex-shrink: 0;
          flex-grow: 0;
          width: 20px;

          input[type="radio"] {
            display: none;

            & + .wrapper {
              display: inline-block;
              width:  15px;
              height: 15px;
              border-radius: 50%;
              border: 2px solid $color-blue-darken;
              position: relative;

              @include box-sizing;
            }

            &:checked + .wrapper {
              &::after {
                content: "";
                position: absolute;
                width:  9px;
                height: 9px;
                border-radius: 50%;

                left: 50%;
                margin-left: -4.5px;

                top: 50%;
                margin-top: -4.5px;

                background-color: $color-blue-darken;
              }
            }
          }
        }

        .label-text {
          margin-left: $app-base-padding / 2;
        }
      }

      .input-checkbox {
        display: flex;
        align-items: center;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        width: auto;

        margin-top: $app-base-padding;
        margin-bottom: $app-base-padding;

        cursor: pointer;

        &:first-child {
          margin-top: $app-base-padding / 2;
        }

        &:last-child {
          margin-bottom: $app-base-padding / 2;
        }

        .wrapper {
          flex-shrink: 0;
          flex-grow: 0;
          width: 20px;

          input[type="checkbox"] {
            display: none;

            & + .wrapper {
              display: inline-block;
              width:  15px;
              height: 15px;
              border: 2px solid $color-blue-darken;
              position: relative;

              @include box-sizing;
            }

            &:checked + .wrapper {
              &::after {
                content: "done";
                color: $color-blue;
                font-size: 12px;
                font-family: 'Material Icons', sans-serif;
                position: absolute;
                width:  2px;
                height: 6px;
              }
            }
          }
        }

        .label-text {
          margin-left: $app-base-padding / 2;
        }
      }

      .input {
        padding: $input-padding;
        display: block;
        width: 100%;
        font-size:   13px;
        line-height: 14px;
        background-color: $color-white;

        border: 2px solid $color-blue-darken;
        outline: none !important;

        @include box-sizing;
      }

      select.input {
        padding-top:    $input-padding / 2 + 2px;
        padding-bottom: $input-padding / 2 + 2.5px;
      }

      .message {
        p {
          margin: $app-base-padding / 2;
        }
      }
    }
  }
}
