@import "variables";

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext';

body {
  margin: 0;
  padding: 0;

  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.pull-right {
  float: right;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.clear {
  clear: both;
  overflow: hidden;
}

a {
  color: $color-blue;
  text-decoration: none;
  transition: 0.2s color;

  &:hover {
    color: darken($color-blue-darken, 15%);
  }

  &.bold {
    font-weight: bold;
  }

  &.danger {
    color: $color-red;

    &:hover {
      color: $color-red-darken;
    }
  }

  &.success {
    color: $color-green;

    &:hover {
      color: $color-green-darken;
    }
  }

  &.underline {
    text-decoration: underline;
  }

}

.empty-placeholder {
  color: lighten($color-gray-darken, 60%);
}

.scrollable {
  overflow-y: scroll;
}
