@import "mixins";
@import "variables";

.mi-icon {
  font-family: 'Material Icons', sans-serif;
  margin-top: 1px;
  padding: $app-base-padding;
  color: lighten($color-gray-darken, $mi-btn-color-offset);
  transition: 0.1s color;
  display: inline-block;

  outline: none;

  @include user-select;
  @include box-sizing;

  &.mi-large {
    font-size: 20px;
  }

  &.mi-round {
    border-radius: 50%;
  }

  &.mi-no-left-padding {
    padding-left: 0;
  }

  &.mi-no-right-padding {
    padding-right: 0;
  }

  &.mi-no-top-padding {
    padding-top: 0;
  }

  &.mi-no-bottom-padding {
    padding-bottom: 0;
  }

  &.mi-icon-danger {
    color: $color-red-darken;
  }

  &.mi-icon-success {
    color: $color-green-darken;
  }

  &.mi-no-hover {
    &:hover {
      color: lighten($color-gray-darken, $mi-btn-color-offset);
      background-color: transparent;
    }
  }

  &.mi-background {
    &:hover {
      background-color: $color-gray;
    }
  }

}

