@import "mixins";
@import "variables";

.mi-btn {
  font-family: 'Material Icons', sans-serif;
  margin-top: 1px;
  padding: $app-base-padding;
  color: lighten($color-gray-darken, $mi-btn-color-offset);
  transition: 0.1s color;
  display: inline-block;

  outline: none;

  @include user-select;
  @include box-sizing;

  &.mi-active {
    color: $color-blue;
  }

  &.mi-round {
    border-radius: 50%;
  }

  &.mi-no-left-padding {
    padding-left: 0;
  }

  &.mi-no-right-padding {
    padding-right: 0;
  }

  &.mi-no-top-padding {
    padding-top: 0;
  }

  &.mi-no-bottom-padding {
    padding-bottom: 0;
  }

  &:not(.mi-static) {

    &:hover {
      color: darken($color-gray-darken, $mi-btn-color-offset);
    }

    &.mi-btn-small {
      padding: $app-base-padding / 2;
    }

    &.mi-btn-danger {
      color: $color-red;

      &:hover {
        color: $color-red-darken
      }
    }
  }

  &.mi-background {
    &:hover {
      background-color: $color-gray;
    }
  }

}
