@import "variables";
@import "mixins";

.row, .grid {
  display: flex;

  &.row-vertical-baseline, &.grid-vertical-baseline {
    align-items: baseline;
  }

  & > .pull-right {
    margin-left: auto;
  }

  &.row-fixed, &.grid-fixed {
    @for $i from 1 through 12 {
      .col-#{$i} {
        width: 100% / 12 * $i;

        @include box-sizing;
      }
    }
  }

}
