@import "variables";
@import "mixins";

.sidebar {
  background-color: $sidebar-background;

  @include box-sizing;

  .section {
    background-color: rgba(0, 0, 0, .15);

    &.active {
      .section-header {
        background-color: rgba(0, 0, 0, .3);

        &::after {
          transform: rotateZ(180deg);
        }
      }

      .section-items {
        display: block;
      }
    }

    .section-header {
      outline: none;
      position: relative;
      background-color: rgba(0, 0, 0, .3);


      @include user-select(none);

      &:hover {
        background-color: rgba(0, 0, 0, .3);
      }

      &::after {
        content: "keyboard_arrow_down";
        font-family: "Material Icons", sans-serif;
        padding: $app-sidebar-section-icon-padding;
        position: absolute;
        font-size: $app-sidebar-section-icon-size;
        top:  0;
        right: 0;
        color: $color-white;
        transition: 0.15s transform;
      }
    }

    .section-items {
      display: none;

      a {
        &:hover, &.active {
          background-color: rgba(0, 0, 0, .15)
        }
      }
    }
  }

  nav {
    a {
      padding: 17px 22px;
      display: block;
      width: 100%;
      color: $color-white;
      text-decoration: none;
      font-weight: bold;
      position: relative;

      outline: none;

      @include box-sizing;

      &:hover, &.active, &.force-hover {
        background-color: $sidebar-item-hover-background-color;
      }

      &.has-badge {
        &::after {
          content: attr(data-badge);
          position: absolute;
          color: $sidebar-item-badge-color;
          background-color: $color-white;

          top: 14.5px;
          right: 22px;
          font-size: 12px;
          line-height: 12px;

          padding: 5px 8px;
          border-radius: 15px;

          box-shadow: 0 4px 15px -7px black;

          @include box-sizing;
        }
      }
    }
  }
}