@import "variables";
@import "mixins";

.table {
  width: 100%;

  &.table-striped {
    tbody {
      tr:nth-of-type(2n) {
        td {
          background-color: lighten($color-gray, 36%);
        }
      }
    }
  }

  &.table-striped-on-hover {
    tbody {
      tr:hover {
        td {
          background-color: lighten($color-gray, 36%);
        }
      }
    }
  }

  &.table-no-first-padding-left {
    tr {
      td, th {
        &:first-of-type {
          padding-left: 0;
        }
      }
    }
  }

  &.table-last-td-pull-right {
    tr {
      td, th {
        &:last-child {
          text-align: right;
        }
      }
    }
  }

  tr {
    td, th {
      padding: $app-base-padding;
      text-align: left;

      &.no-paddings, &.has-input {
        padding: 0;
        vertical-align: top;

        .input {
          border: 0 solid transparent;
          line-height: 14px;
          background-color: transparent;
          padding: $app-base-padding + 1 $app-base-padding $app-base-padding;
          outline: none;
          width: 100%;

          @include box-sizing;
        }

        select.input {
          padding: $app-base-padding / 2;
          height: 45px;

          option {
            outline: none;
            @include box-sizing;
          }
        }
      }
    }
  }

  tbody {
    tr:last-of-type {
      td, th {
        border-bottom: none;
      }
    }
  }

  thead {
    th {
      border-bottom: 1px solid $color-gray;
      font-weight: bold;

      @include box-sizing;
    }
  }

}
