@import "mixins";
@import "variables";

.tabs-sidebar {

}

.content {
  .tabs-wrapper {
    &.tabs-as-sidebar {

      display: flex;
      width: 100%;

      nav.tabs {
        width: 244px;
        flex-grow: 0;
        flex-shrink: 0;

        padding: 0;

        border-top: 0 solid transparent;;
        border-left: 0 solid transparent;;
        border-bottom: 0 solid transparent;;

        display: inline-block;

        @include box-sizing;

        a {
          display: block;
          width: 100%;

          border-bottom: 0 solid transparent;
          position: relative;

          padding: 17px 22px;

          &[data-icon] {
            &::after {
              content: attr(data-icon);
              position: absolute;
              top: 0;
              right: 0;
              font-family: "Material Icons", sans-serif;
              padding: 17px 22px;
            }
          }
        }
      }

      .tabs-contents {
        flex-grow: 1;
        flex-shrink: 0;

        @include box-sizing;

        &.no-padding-top {
          padding-top: 0;
        }

        &.no-padding-bottom {
          padding-bottom: 0;
        }

        .tab-content {
          padding: $app-base-padding;
        }

      }

    }
  }
}
