@import "variables";
@import "mixins";

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;

  &.underline {
    display: block;
    width: 100%;
    border-bottom: 1px solid $color-gray;
    margin-bottom: $app-base-padding;

    &.with-paddings {
      padding: $app-base-padding / 2 $app-base-padding;

      @include box-sizing;
    }
  }

  small, .small {
    font-size: 65%;
    line-height: 1;

    color: $color-gray-darken;
  }
}