<div class="card balance-card" v-for="item in history">
    <div class="icon">
        <div v-if="item.status == 'income'">
            <i class="mi-icon mi-no-hover mi-large">file_download</i>
        </div>
        <div v-if="item.status == 'outgoing'">
            <i class="mi-icon mi-no-hover mi-large">file_upload</i>
        </div>
    </div>
    <div class="balance-card-content">
        <div v-if="item.status == 'outgoing'" class="amount amount-negative">
            {{ item.amount }}
        </div>
        <div v-if="item.status == 'income'" class="amount">
            {{ item.amount }}
        </div>
        <div class="info">
            {{ item.user.lastName }} {{ item.user.firstName }} {{ item.user.middleName }}
        </div>
        <div class="info" v-if="item.nomenclature_income_id != null">
            <a href="/management/nomenclatureIncome/{{ item.nomenclature_income_id }}">Показать поступление</a>
        </div>
        <div class="info" v-if="item.batch != null">
            {{ item.batch.expiration_date }} {{ item.batch.batch_number }}
        </div>
    </div>
</div>