$patient-discussion-left-padding: $app-base-padding;
$patient-discussion-top-padding: $app-base-padding;
$patient-discussion-form-border-color-offset: 50%;
$patient-discussion-form-shadow-offset: 70%;
